<h1>Dates</h1>
<ul>
   <% @reservations.each do |reservation| %>
    <div class="date">
     <form action="/reservations/<%=reservation.id%>" method="post">
       <li> <%= reservation.parsed_date %> </li>
       <input type="submit" value="book">
     </form>
    </div>
   <% end %>
</ul>
